
<!doctype html>
<html data-bs-theme="light" lang="fa">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta
      content="Next Ai یک قالب قدرتمند saas ، AI و استارت آپ فناوری است که برای کسب و کارهای نوآورانه طراحی شده است. محصولات دیجیتال خود را با یک طرح پاسخگو و با عملکرد بالا که برای استارت آپ ها ، نرم افزار و راه حل های فناوری مبتنی بر هوش مصنوعی بهینه شده است ، راه اندازی کنید. برای نمایش برنامه ها ، خدمات فناوری و راه حل های دیجیتال پیشرفته با طراحی ظریف و قابلیت های قوی مناسب است"
      name="description"
    />
    <meta
      content="قالب SaaS ، قالب راه اندازی هوش مصنوعی ، قالب راه اندازی فناوری ، قالب NextAi ، قالب محصول دیجیتال ، صفحه فرود نرم افزار ، قالب فناوری پاسخگو ، طراحی وب سایت SaaS ، راه حل های فناوری هوش مصنوعی ، صفحه فرود راه اندازی ، قالب وب سایت فناوری ، طراحی رابط کاربری SaaS ، قالب saas و هوش مصنوعی ، قالب فناوری مدرن"
      name="keywords"
    />
    <meta content="bplugins" name="author" />
    <title>Nextai - قالب HTML استارت آپ SaaS</title>
    <link href="/static/img/favicon.png" rel="icon" type="image/png" />
    <link href="/static/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="/static/css/bootstrap-icons.css" rel="stylesheet" />
    <link href="/static/css/simplebar.rtl.css" rel="stylesheet" />
    <link href="/static/css/swiper-bundle.rtl.css" rel="stylesheet" />
    <link href="/static/css/ff-1.css" rel="stylesheet" />
    <link href="/static/css/ff-2.css" rel="stylesheet" />
    <link href="/static/css/prism.css" rel="stylesheet" />
    <link href="/static/css/style.rtl.css" rel="stylesheet" />
  </head>
  <body class="bg-body-tertiary">
    <nav
      class="navbar navbar-expand-lg primary-header primary-header--dark primary-header--fixed primary-header--boxed top-md-3 primary-header-crossed:top-0 primary-header-crossed:full-dark"
    >
      <div class="container align-items-lg-center">
        <a class="logo" href="index.html">
          <img
            alt="image"
            class="logo__img logo__img--light"
            src="/static/img/logo-light.png"
          />
          <img
            alt="image"
            class="logo__img logo__img--dark"
            src="/static/img/logo-light.png"
          />
        </a>
        <button
          aria-controls="navbar0"
          aria-expanded="false"
          aria-label="Toggle navigation"
          class="navbar-toggler border-0"
          data-bs-target="#navbar0"
          data-bs-toggle="collapse"
          type="button"
        >
          <iconify-icon icon="solar:hamburger-menu-line-duotone"></iconify-icon>
        </button>
        <div class="collapse navbar-collapse" id="navbar0">
          <ul
            class="navbar-nav flex-grow-1 justify-content-center mx-lg-4 mb-2 mb-lg-0"
          >

            <li class="nav-item  navigation-1">
              <a aria-current="page" class="nav-link" href="{% url 'home_app' %}">خانه</a>

            </li>

          </ul>
          <div class="d-flex align-items-center gap-3 ms-lg-auto">
            <a class="btn btn-sm text-dark btn-primary order-lg-2" href="sign-up-1.html"
              >تماس با ما</a
            >
            <div
              class="dropdown dropdown-modifier dropdown-xsm order-lg-1 theme-settings"
            >
              <button
                aria-expanded="false"
                aria-haspopup="true"
                class="btn dropdown-toggle px-4 px-lg-0 fs-14 border-0 align-items-center gap-1"
                data-bs-toggle="dropdown"
                type="button"
              >
                <iconify-icon
                  icon="bi:sun"
                  id="themeDropdownIcon"
                ></iconify-icon>
              </button>
              <ul
                class="dropdown-menu dropdown-menu-end dropdown-menu-light mw-unset"
              >
                <li>
                  <button
                    class="dropdown-item d-flex align-items-center gap-2 fs-14"
                    id="lightTheme"
                    type="button"
                  >
                    <span class="d-block flex-shrink-0">
                      <iconify-icon icon="bi:sun"></iconify-icon>
                    </span>
                    <span class="d-block flex-grow-1">روشن</span>
                  </button>
                </li>
                <li>
                  <button
                    class="dropdown-item d-flex align-items-center gap-2 fs-14"
                    id="darkTheme"
                    type="button"
                  >
                    <span class="d-block flex-shrink-0">
                      <iconify-icon icon="bi:moon-stars"></iconify-icon>
                    </span>
                    <span class="d-block flex-grow-1">تاریک</span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="preloader">
      <div class="preloader__content">
        <img
          alt="logo"
          class="img-fluid preloader__img"
          src="/static/img/logo-light.png"
        />
      </div>
    </div>
    <div id="smooth-wrapper">
      <div id="smooth-content">
        <!-- Banner Section -->
        <div class="banner-1">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="banner-1__content">
                  <div class="row">
                    <div class="col-md-8 col-xl-6">
                      <nav class="mb-3">
                        <ol class="breadcrumb breadcrumb-modifier">
                          <li class="breadcrumb-item">
                            خانه
                          </li>
                          <li class="breadcrumb-item">
                            <iconify-icon
                              class="align-middle fs-14"
                              icon="bi:chevron-left"
                            ></iconify-icon>
                          </li>
                          <li
                            aria-current="page"
                            class="breadcrumb-item active fs-14"
                          >
                            نمونه کارها
                          </li>
                        </ol>
                      </nav>
                      <h3>نمونه کارها </h3>

                    </div>
                  </div>
                  <svg
                    class="banner-1__froster-svg"
                    fill="none"
                    height="401"
                    viewbox="0 0 1124 401"
                    width="1124"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g filter="url(#filter0_f_8077_2641)">
                      <path
                        class="banner-1__froster-svg-path"
                        d="M773.993 103.763C800.457 67.556 838.118 -16 889.598 -16C932.68 -16 925.405 109.955 850.192 214.4C676.015 417.658 548.024 427 432.419 427C316.814 427 267 368.356 267 332.149C267 295.942 301.82 244.415 489.854 244.415C677.886 244.415 747.529 139.97 773.993 103.763Z"
                        fill="#6328FF"
                        fill-opacity="0.5"
                      ></path>
                    </g>
                    <defs>
                      <filter
                        color-interpolation-filters="sRGB"
                        filterunits="userSpaceOnUse"
                        height="976.333"
                        id="filter0_f_8077_2641"
                        width="1182.33"
                        x="0.333405"
                        y="-282.667"
                      >
                        <feflood
                          flood-opacity="0"
                          result="BackgroundImageFix"
                        ></feflood>
                        <feblend
                          in="SourceGraphic"
                          in2="BackgroundImageFix"
                          mode="normal"
                          result="shape"
                        ></feblend>
                        <fegaussianblur
                          result="effect1_foregroundBlur_8077_2641"
                          stddeviation="133.333"
                        ></fegaussianblur>
                      </filter>
                    </defs>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Banner Section End -->
        <!-- Portfolio Block 1 -->

{% load static %}

<div class="section-space-top section-space-xsm-bottom bg-body-tertiary">
  <div class="container">
    <div class="row g-4">
      {% for item in portfolios %}
      <div class="col-md-6 col-xl-4">
        <div class="portfolio-card position-relative z-1 rounded-4 overflow-hidden">
          {% if item.image %}
            <img
              alt="{{ item.title }}"
              class="img-fluid w-100 transition portfolio-card__img"
              src="{{ item.image.url }}"
            />
          {% else %}
            <img
              alt="no image"
              class="img-fluid w-100 transition portfolio-card__img"
              src="{% static 'img/no-image.png' %}"
            />
          {% endif %}

          <div
            class="bg-body rounded-1 p-4 position-absolute start-4 end-4 bottom-4 mt-auto transition portfolio-card__content"
          >
            <span
              class="badge bg-primary-emphasis hover:bg-primary-emphasis text-primary-subtle hover:text-primary-subtle rounded-1 mb-2"
            >
              <iconify-icon
                class="align-middle fs-20 flex-shrink-0"
                icon="uim:check-circle"
              ></iconify-icon>
              {{ item.category }}
            </span>

            <h6 class="mb-0 fs-20">
              {% if item.link %}
                <a
                  class="link d-inline-block text-heading hover:text-primary-emphasis"
                  href="{{ item.link }}"
                  target="_blank"
                >
                  {{ item.title }}
                </a>
              {% else %}
                <span class="text-heading">{{ item.title }}</span>
              {% endif %}
            </h6>
          </div>
        </div>
      </div>
      {% empty %}
      <div class="col-12 text-center py-5">
        <p class="text-muted fs-18">هنوز هیچ نمونه‌کاری اضافه نشده است </p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Portfolio Block End -->

        <!-- Portfolio Block 1 End -->
<!-- Footer -->
<footer class="footer bg-dark text-light pt-5 pb-4">
  <div class="container">
    <div class="row g-5 align-items-start">

      <div class="col-md-6 col-lg-4 text-center text-lg-start">
                  <a class="logo" href="index.html">
                    <img
                      alt="image"
                      class="logo__img logo__img--light"
                      src="/static/img/logo-light.png"
                    />
                    <img
                      alt="image"
                      class="logo__img logo__img--dark"
                      src="/static/img/logo-light.png"
                    />
                  </a>
      </div>

      <div class="col-lg-4">
        <h2 class="fs-28 mb-3 text-light">
          آدرس و نشانی <span class="text-clip text-clip--primary">تکنوسایت</span>
        </h2>
        <ul class="list-unstyled fs-14 text-light text-opacity-70">
          <li>
            استان یزد، اردکان، خیابان صدرآباد، میدان انار، خروجی سوم، بلوار
            حلال اهمر، کوچه ۲۹
          </li>
        </ul>
      </div>

      <div class="col-lg-4">
        <h2 class="fs-28 mb-3 text-light">
          ارتباط تلفنی با تیم <span class="text-clip text-clip--primary">تکنوسایت</span>
        </h2>
        <ul class="list-unstyled fs-14 text-light text-opacity-70">
          <li>۰۳۵-۳۲۲۴۹۷۷۴</li>
          <li>۰۹۹۰۳۳۰۹۷۷۴</li>
        </ul>
      </div>
    </div>

    <hr class="opacity-25 my-4" style="border-color: #c7f32f" />

    <div class="text-center">
      <p class="mb-0 text-light text-opacity-70">
        تمامی حقوق برای <span style="color: #c7f32f;">تکنوسایت</span> محفوظ است. © TechnooSite
      </p>
    </div>
  </div>
</footer>
<!-- Footer End -->

      </div>
    </div>
    <!-- Scripts -->
    <script src="/static/js/bootstrap.bundle.js"></script>
    <script src="/static/js/iconify.js"></script>
    <script src="/static/js/simplebar.js"></script>
    <script src="/static/js/swiper.js"></script>
    <script src="/static/js/prism.js"></script>
    <script src="/static/js/gsap.min.js"></script>
    <script src="/static/js/ScrollTrigger.min.js"></script>
    <script src="/static/js/Flip.min.js"></script>
    <script src="/static/js/DrawSVGPlugin.min.js"></script>
    <script src="/static/js/SplitText.min.js"></script>
    <script src="/static/js/ScrollSmoother.min.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>
