{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="smooth-wrapper" style="inset: 0px; width: 100%; height: 100%; position: fixed; overflow: hidden;">
      <div id="smooth-content" style="translate: none; rotate: none; scale: none; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); box-sizing: border-box; width: 100%; overflow: visible;">
        <!-- Banner Section -->
        <div class="banner-1">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="banner-1__content">
                  <div class="row">
                    <div class="col-md-8 col-xl-6">
                      <nav class="mb-3">
                        <ol class="breadcrumb breadcrumb-modifier">
                          <li class="breadcrumb-item">
                            <a class="link fs-14" href="#">خانه</a>
                          </li>
                          <li class="breadcrumb-item">
                            <iconify-icon class="align-middle fs-14" icon="bi:chevron-left"></iconify-icon>
                          </li>
                          <li aria-current="page" class="breadcrumb-item active fs-14">
                            تماس
                          </li>
                        </ol>
                      </nav>
                      <h3>تماس - بلوک ها</h3>
                      <p class="mb-0 max-text-12">
                        هر قطعه بلوک سفارشی را در زیر کپی کرده و آن را در صفحه
                        خود جایگذاری کنید تا وب سایت خود به راحتی بسازید.
                      </p>
                    </div>
                  </div>
                  <svg class="banner-1__froster-svg" fill="none" height="401" viewBox="0 0 1124 401" width="1124" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_f_8077_2641)">
                      <path class="banner-1__froster-svg-path" d="M773.993 103.763C800.457 67.556 838.118 -16 889.598 -16C932.68 -16 925.405 109.955 850.192 214.4C676.015 417.658 548.024 427 432.419 427C316.814 427 267 368.356 267 332.149C267 295.942 301.82 244.415 489.854 244.415C677.886 244.415 747.529 139.97 773.993 103.763Z" fill="#6328FF" fill-opacity="0.5"></path>
                    </g>
                    <defs>
                      <filter color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse" height="976.333" id="filter0_f_8077_2641" width="1182.33" x="0.333405" y="-282.667">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                        <feBlend in="SourceGraphic" in2="BackgroundImageFix" mode="normal" result="shape"></feBlend>
                        <feGaussianBlur result="effect1_foregroundBlur_8077_2641" stdDeviation="133.333"></feGaussianBlur>
                      </filter>
                    </defs>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Banner Section End -->
        <!-- Contact Block -->
        <div class="section-space-top section-space-xsm-bottom">
          <div class="container">
            <div class="row g-4 justify-content-between align-items-center">
              <div class="col-lg-6 col-xl-5">
                <h3>با ما ارتباط برقرار کنید</h3>
                <p class="mb-0">
                  آیا سؤالات مربوط به خدمات یا علاقه مند به همکاری های دیگر؟ما
                  اینجا هستیم تا از هر قدم شما پشتیبانی کنیم
                </p>
                <hr class="my-8">
                <ul class="list gap-6">
                  <li>
                    <p class="mb-1 fs-18 fw-bold text-heading">
                      در مورد خدمات ما بیاموزید
                    </p>
                    <p class="mb-0">sales@example.com +1 302-803-5506</p>
                  </li>
                  <li>
                    <p class="mb-1 fs-18 fw-bold text-heading">
                      با بخش روابط عمومی ما صحبت کنید
                    </p>
                    <p class="mb-0">support@example.com</p>
                  </li>
                  <li>
                    <p class="mb-1 fs-18 fw-bold text-heading">
                      به تیم Bplugins بپیوندید
                    </p>
                    <p class="mb-0">info@example.com</p>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <div class="rounded-3 bg-body p-4 p-lg-8 shadow-lg">
                  <div class="row g-4">
                    <div class="col-12">
                      <p class="mb-0 fw-semibold">
                        فرم را پر کنید و ما با شما تماس خواهیم گرفت
                      </p>
                    </div>
                    <div class="col-lg-6">
                      <label class="form-label fs-14 fw-medium text-heading">نام</label>
                      <input class="form-control" placeholder="نام" type="text">
                    </div>
                    <div class="col-lg-6">
                      <label class="form-label fs-14 fw-medium text-heading">آدرس ایمیل</label>
                      <input class="form-control" placeholder="ایمیل" type="email">
                    </div>
                    <div class="col-12">
                      <label class="form-label fs-14 fw-medium text-heading">موضوع</label>
                      <input class="form-control" placeholder="موضوع خود را وارد کنید" type="text">
                    </div>
                    <div class="col-12">
                      <label class="form-label fs-14 fw-medium text-heading">پیام</label>
                      <textarea class="form-control" placeholder="لطفا جزئیات را بنویسید" rows="3"></textarea>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary fs-14" type="button">
                        ارسال کردن
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section-space-xsm-top section-space-bottom">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="tab-group">
                  <div class="tab__header d-flex align-items-center justify-content-between gap-4 border-bottom">
                    <div class="tab flex-grow-1">
                      <button class="tab__links position-relative z-1 btn btn-sm hover:text-primary border-0 active">
                        HTML
                      </button>
                    </div>
                    <button class="btn btn-sm border-0 text-heading hover:text-primary align-items-center gap-1 fw-medium code-snippet-expand">
                      <iconify-icon icon="quill:expand"></iconify-icon>مشاهده کد
                      کامل
                    </button>
                  </div>
                  <div class="tab__body mt-4">
                    <div class="tab__content active">
                      <div class="code-snippet code-snippet--lg overflow-x-auto p-4 rounded-1 bg-body-secondary my-1">
                        <div class="code-toolbar"><pre class="language-html" tabindex="0"><code class="language-html"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>container<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>row g-4 justify-content-between align-items-center<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>col-lg-6 col-xl-5<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>h3</span><span class="token punctuation">&gt;</span></span>با ما ارتباط برقرار کنید<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>h3</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>mb-0<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>آیا سؤالات مربوط به خدمات یا علاقه مند به همکاری های دیگر؟
ما اینجا هستیم تا از هر قدم شما پشتیبانی کنیم<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>hr</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>my-8<span class="token punctuation">"</span></span><span class="token punctuation">/&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>ul</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>list gap-6<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>mb-1 fs-18 fw-bold text-heading<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>در مورد خدمات ما بیاموزید<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>mb-0<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>sales@example.com +1 302-803-5506<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>mb-1 fs-18 fw-bold text-heading<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>با بخش روابط عمومی ما صحبت کنید<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>mb-0<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>support@example.com<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>mb-1 fs-18 fw-bold text-heading<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>به تیم Bplugins بپیوندید<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>mb-0<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>info@example.com<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>ul</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>col-lg-6<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>rounded-3 bg-body p-4 p-lg-8 shadow-lg<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>row g-4<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>col-12<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>mb-0 fw-semibold<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>فرم را پر کنید و ما با شما تماس خواهیم گرفت<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>col-lg-6<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>label</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>form-label fs-14 fw-medium text-heading<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>نام<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>label</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>input</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>form-control<span class="token punctuation">"</span></span> <span class="token attr-name">placeholder</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>نام<span class="token punctuation">"</span></span> <span class="token attr-name">type</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>text<span class="token punctuation">"</span></span><span class="token punctuation">/&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>col-lg-6<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>label</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>form-label fs-14 fw-medium text-heading<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>آدرس ایمیل<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>label</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>input</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>form-control<span class="token punctuation">"</span></span> <span class="token attr-name">placeholder</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>ایمیل<span class="token punctuation">"</span></span> <span class="token attr-name">type</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>email<span class="token punctuation">"</span></span><span class="token punctuation">/&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>col-12<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>label</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>form-label fs-14 fw-medium text-heading<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>موضوع<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>label</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>input</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>form-control<span class="token punctuation">"</span></span> <span class="token attr-name">placeholder</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>موضوع خود را وارد کنید<span class="token punctuation">"</span></span> <span class="token attr-name">type</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>text<span class="token punctuation">"</span></span><span class="token punctuation">/&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>col-12<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>label</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>form-label fs-14 fw-medium text-heading<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>پیام<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>label</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>textarea</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>form-control<span class="token punctuation">"</span></span> <span class="token attr-name">placeholder</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>لطفا جزئیات را بنویسید<span class="token punctuation">"</span></span> <span class="token attr-name">rows</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>3<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>textarea</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>col-12<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>button</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>btn btn-primary fs-14<span class="token punctuation">"</span></span> <span class="token attr-name">type</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>button<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>ارسال کردن<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>button</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span></code></pre><div class="toolbar"><div class="toolbar-item"><button class="copy-to-clipboard-button" type="button" data-copy-state="copy"><span>کپی</span></button></div></div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Contact Block End -->
        <!-- Footer  -->
        <footer class="position-relative z-1 overflow-hidden">
          <div class="section-space-lg-y">
            <div class="container">
              <div class="row g-4">
                <div class="col-md-7 col-lg-4">
                  <div class="pe-xxl-10">
                    <a class="logo d-inline-flex mb-6" href="index.html">
                      <img alt="image" class="logo__img logo__img--light" src="/static/img/logo-dark.png">
                      <img alt="image" class="logo__img logo__img--dark" src="/static/img/logo-light.png">
                    </a>
                    <p class="mb-8">
                      دادن تیم های بازاریابی مدرن با پیوندهای کوتاه که ایستاده
                      اند
                    </p>
                    <div class="d-flex align-items-center flex-wrap gap-3 mb-6">
                      <div class="d-flex align-items-center gap-2 py-3 px-2 rounded bg-body shadow">
                        <img alt="image" class="img-fluid flex-shrink-0" src="/static/img/certificate-img-1.png">
                        <div class="flex-grow-1">
                          <ul class="list list-row gap-1 align-items-center lh-1">
                            <li>
                              <iconify-icon class="fs-14 text-warning" icon="mingcute:star-fill"></iconify-icon>
                            </li>
                            <li>
                              <iconify-icon class="fs-14 text-warning" icon="mingcute:star-fill"></iconify-icon>
                            </li>
                            <li>
                              <iconify-icon class="fs-14 text-warning" icon="mingcute:star-fill"></iconify-icon>
                            </li>
                            <li>
                              <iconify-icon class="fs-14 text-warning" icon="mingcute:star-fill"></iconify-icon>
                            </li>
                            <li>
                              <iconify-icon class="fs-14 text-warning" icon="mingcute:star-fill"></iconify-icon>
                            </li>
                          </ul>
                          <p class="mb-0 fs-14 fw-medium">
                            Capterra اعتراف می کند
                          </p>
                        </div>
                      </div>
                      <div class="d-flex align-items-center gap-2 py-3 px-2 rounded bg-body shadow">
                        <img alt="image" class="img-fluid flex-shrink-0" src="/static/img/certificate-img-2.png">
                        <div class="flex-grow-1">
                          <ul class="list list-row gap-1 align-items-center lh-1">
                            <li>
                              <iconify-icon class="fs-14 text-warning" icon="mingcute:star-fill"></iconify-icon>
                            </li>
                            <li>
                              <iconify-icon class="fs-14 text-warning" icon="mingcute:star-fill"></iconify-icon>
                            </li>
                            <li>
                              <iconify-icon class="fs-14 text-warning" icon="mingcute:star-fill"></iconify-icon>
                            </li>
                            <li>
                              <iconify-icon class="fs-14 text-warning" icon="mingcute:star-fill"></iconify-icon>
                            </li>
                            <li>
                              <iconify-icon class="fs-14 text-warning" icon="mingcute:star-fill"></iconify-icon>
                            </li>
                          </ul>
                          <p class="mb-0 fs-14 fw-medium">افتخار G2</p>
                        </div>
                      </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center gap-4 py-2 px-4 bg-body rounded shadow">
                      <div class="d-flex align-items-center gap-2">
                        <img alt="image" class="img-fluid flex-shrink-0" src="/static/img/avatar-6.png">
                        <div class="flex-grow-1">
                          <span class="d-block fw-medium fs-14">بدست آوردن<span class="text-primary">
                              35 ٪ تخفیف </span>برای کل سال</span>
                        </div>
                      </div>
                      <a class="link d-inline-block text-primary flex-shrink-0" href="pricing.html">
                        <iconify-icon class="fs-20" icon="line-md:arrow-left"></iconify-icon>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="row g-4 justify-content-xxl-around">
                    <div class="col-sm-6 col-md-3 col-xxl-3">
                      <h6 class="mb-6">محصول</h6>
                      <ul class="list gap-2">
                        <li>
                          <a class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14" href="index.html">فناوری AI</a>
                        </li>
                        <li>
                          <a class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14" href="home-2.html">پشتیبانی چت AI</a>
                        </li>
                        <li>
                          <a class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14" href="home-3.html">ژنراتور کد AI</a>
                        </li>
                        <li>
                          <a class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14" href="home-4.html">ژنراتور تصویر AI</a>
                        </li>
                        <li>
                          <a class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14" href="home-5.html">AI توسعه دهنده AST.</a>
                        </li>
                        <li>
                          <a class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14" href="home-6.html">ژنراتور ویدیویی AI</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 col-xxl-3">
                      <h6 class="mb-6">شرکت</h6>
                      <ul class="list gap-2">
                        <li>
                          <a class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14" href="about.html">درباره ما</a>
                        </li>
                        <li>
                          <a class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14" href="career.html">فرصت شغلی</a>
                        </li>
                        <li>
                          <a class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14" href="case-study.html">مطالعه موردی</a>
                        </li>
                        <li>
                          <a class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14" href="contact.html">با ما تماس بگیرید</a>
                        </li>
                        <li>
                          <a class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14" href="portfolio.html">نمونه کارها</a>
                        </li>
                        <li>
                          <a class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14" href="pricing.html">قیمت گذاری</a>
                        </li>
                        <li>
                          <a class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14" href="service.html">خدمت</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 col-xxl-2">
                      <h6 class="mb-6">صفحات</h6>
                      <ul class="list gap-2">
                        <li>
                          <a class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14" href="blog-1.html">وبلاگ</a>
                        </li>
                        <li>
                          <a class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14" href="blog-2.html">وبلاگ مدرن</a>
                        </li>
                        <li>
                          <a class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14" href="faq.html">پرسش</a>
                        </li>
                        <li>
                          <a class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14" href="sign-in-1.html">ورود به سیستم</a>
                        </li>
                        <li>
                          <a class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14" href="sign-up-1.html">ثبت نام کردن</a>
                        </li>
                        <li>
                          <a class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14" href="event-details.html">واقعه</a>
                        </li>
                        <li>
                          <a class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14" href="privacy-policy.html">سیاست حفظ حریم</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 col-xxl-3">
                      <h6 class="mb-6">عناصر</h6>
                      <ul class="list gap-2">
                        <li>
                          <a class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14" href="block-page-about.html">در مورد</a>
                        </li>
                        <li>
                          <a class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14" href="block-page-blog.html">وبلاگ</a>
                        </li>
                        <li>
                          <a class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14" href="block-page-cta.html">فراخوانی به عمل</a>
                        </li>
                        <li>
                          <a class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14" href="block-page-testimonial.html">شهادت</a>
                        </li>
                        <li>
                          <a class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14" href="block-page-fact.html">لیست اطلاعات</a>
                        </li>
                        <li>
                          <a class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14" href="block-page-feature.html">نشان</a>
                        </li>
                        <li>
                          <a class="link d-inline-block text-body hover:text-primary-emphasis fw-medium fs-14" href="block-page-hero.html">قهرمان</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-space-sm-bottom">
            <div class="container">
              <div class="row g-4 align-items-center">
                <div class="col-lg-6">
                  <ul class="list list-row list-dot list-dot--md list-dot--secondary-emphasis flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <li>
                      <span class="d-inline-block fs-14">© 2025 Nextai</span>
                    </li>
                    <li>
                      <a class="link d-inline-block text-body hover:text-primary fs-14" href="privacy-policy.html">شرایط استفاده</a>
                    </li>
                    <li>
                      <a class="link d-inline-block text-body hover:text-primary fs-14" href="#">امنیت</a>
                    </li>
                    <li>
                      <a class="link d-inline-block text-body hover:text-primary fs-14" href="privacy-policy.html">سیاست حفظ حریم</a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list list-row flex-wrap justify-content-center justify-content-lg-end align-items-center gap-3">
                    <li>
                      <a class="badge px-4 bg-primary-emphasis text-primary-subtle rounded-pill" href="#">با ما AI بسازید</a>
                    </li>
                    <li>
                      <button class="btn btn-sm btn-icon btn-light-subtle rounded-circle shadow fs-18" type="button">
                        <iconify-icon icon="si:twitter-duotone"></iconify-icon>
                      </button>
                    </li>
                    <li>
                      <button class="btn btn-sm btn-icon btn-light-subtle rounded-circle shadow fs-18" type="button">
                        <iconify-icon icon="ri:facebook-fill"></iconify-icon>
                      </button>
                    </li>
                    <li>
                      <button class="btn btn-sm btn-icon btn-light-subtle rounded-circle shadow fs-18" type="button">
                        <iconify-icon icon="ri:linkedin-fill"></iconify-icon>
                      </button>
                    </li>
                    <li>
                      <button class="btn btn-sm btn-icon btn-light-subtle rounded-circle shadow fs-18" type="button">
                        <iconify-icon icon="icon-park-outline:dribble"></iconify-icon>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <img alt="image" class="img-fluid position-absolute start-50 bottom-0 translate-middle-x z-n1 pointer-none" src="/static/img/shapes/footer-2-grid.png">
          <svg class="position-absolute z-n1 start-0 top-0 pointer-none" fill="none" height="579" viewBox="0 0 860 579" width="860" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_f_10034_5037)">
              <path d="M169.847 11.8444C151.014 -24.0114 128.472 -103.643 82.4746 -110.489C43.9821 -116.218 33.7393 -2.76055 87.0576 100.521C215.664 305.212 328.779 330.576 432.07 345.949C535.361 361.322 587.664 315.572 592.476 283.235C597.289 250.899 573.027 200.25 405.023 175.245C237.02 150.241 188.679 47.7002 169.847 11.8444Z" fill="#00C4FD" fill-opacity="0.2"></path>
            </g>
            <defs>
              <filter color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse" height="993.048" id="filter0_f_10034_5037" width="1076.05" x="-216.362" y="-377.364">
                <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                <feBlend in="SourceGraphic" in2="BackgroundImageFix" mode="normal" result="shape"></feBlend>
                <feGaussianBlur result="effect1_foregroundBlur_10034_5037" stdDeviation="133.333"></feGaussianBlur>
              </filter>
            </defs>
          </svg>
          <svg class="position-absolute z-n1 end-0 top-0 pointer-none" fill="none" height="579" viewBox="0 0 691 579" width="691" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_f_10034_5038)">
              <path d="M724.978 62.1383C748.883 29.4456 782.903 -46 829.407 -46C868.323 -46 861.752 67.7293 793.81 162.036C636.472 345.564 520.855 354 416.426 354C311.998 354 267 301.048 267 268.356C267 235.663 298.454 189.138 468.309 189.138C638.162 189.138 701.072 94.8311 724.978 62.1383Z" fill="#6328FF" fill-opacity="0.2"></path>
            </g>
            <defs>
              <filter color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse" height="933.333" id="filter0_f_10034_5038" width="1119.59" x="0.333405" y="-312.667">
                <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                <feBlend in="SourceGraphic" in2="BackgroundImageFix" mode="normal" result="shape"></feBlend>
                <feGaussianBlur result="effect1_foregroundBlur_10034_5038" stdDeviation="133.333"></feGaussianBlur>
              </filter>
            </defs>
          </svg>
        </footer>
        <!-- Footer End -->
      </div>
    </div>

{% endblock %}