{% load render_partial %}

<!doctype html>
<html data-bs-theme="light" data-theme="home-3" lang="fa">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta
      content="Next Ai یک قالب قدرتمند saas ، AI و استارت آپ فناوری است که برای کسب و کارهای نوآورانه طراحی شده است. محصولات دیجیتال خود را با یک طرح پاسخگو و با عملکرد بالا که برای استارت آپ ها ، نرم افزار و راه حل های فناوری مبتنی بر هوش مصنوعی بهینه شده است ، راه اندازی کنید. برای نمایش برنامه ها ، خدمات فناوری و راه حل های دیجیتال پیشرفته با طراحی ظریف و قابلیت های قوی مناسب است"
      name="description"
    />
    <meta
      content="قالب SaaS ، قالب راه اندازی هوش مصنوعی ، قالب راه اندازی فناوری ، قالب NextAi ، قالب محصول دیجیتال ، صفحه فرود نرم افزار ، قالب فناوری پاسخگو ، طراحی وب سایت SaaS ، راه حل های فناوری هوش مصنوعی ، صفحه فرود راه اندازی ، قالب وب سایت فناوری ، طراحی رابط کاربری SaaS ، قالب saas و هوش مصنوعی ، قالب فناوری مدرن"
      name="keywords"
    />
    <meta content="bplugins" name="author" />
    <title>Nextai - قالب HTML استارت آپ SaaS</title>
    {% include 'header_references.html' %}
  </head>
  <body class="bg-black">
   {% render_partial 'home_app.views.site_header_partial' %}
    <div class="preloader">
      <div class="preloader__content">
        <img
          alt="logo"
          class="img-fluid preloader__img"
          src="/static/img/logo-light.png"
        />
      </div>
    </div>
    <div id="smooth-wrapper">
      <div id="smooth-content">
      
        {% block content %}{% endblock %}
      
    {% render_partial 'home_app.views.site_footer_partial' %}
      </div>
    </div>
    
    {% include 'footer_refrences.html' %}
  </body>
</html>
