{% load render_partial %}

<!doctype html>
<html data-bs-theme="light" data-theme="home-3" lang="fa">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="bplugins" name="author" />
    <title>تکنوسایت | TechnooSite</title>
    {% include 'header_references.html' %}
  </head>
  <body class="bg-black">
   {% render_partial 'home_app.views.site_header_partial' %}
    <div class="preloader">
      <div class="preloader__content">
        <img
          alt="logo"
          class="img-fluid preloader__img"
          src="/static/img/logo-light.png"
        />
      </div>
    </div>
    <div id="smooth-wrapper">
      <div id="smooth-content">
      
        {% block content %}{% endblock %}
      
    {% render_partial 'home_app.views.site_footer_partial' %}
      </div>
    </div>
    
    {% include 'footer_refrences.html' %}


  </body>

</html>
