    <link href="/static/img/favicon.png" rel="icon" type="image/png" />
    <link href="/static/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="/static/css/bootstrap-icons.css" rel="stylesheet" />
    <link href="/static/css/simplebar.rtl.css" rel="stylesheet" />
    <link href="/static/css/swiper-bundle.rtl.css" rel="stylesheet" />
    <link href="/static/css/ff-1.css" rel="stylesheet" />
    <link href="/static/css/ff-2.css" rel="stylesheet" />
    <link href="/static/css/prism.css" rel="stylesheet" />
    <link href="/static/css/style.rtl.css" rel="stylesheet" />
    
    
    
    <link href="/static/img/favicon.png" rel="icon" type="image/png" />
    <link href="/static/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="/static/css/bootstrap-icons.css" rel="stylesheet" />
    <link href="/static/css/simplebar.rtl.css" rel="stylesheet" />
    <link href="/static/css/swiper-bundle.rtl.css" rel="stylesheet" />
    <link href="/static/css/ff-1.css" rel="stylesheet" />
    <link href="/static/css/ff-2.css" rel="stylesheet" />
    <link href="/static/css/prism.css" rel="stylesheet" />
    <link href="/static/css/style.rtl.css" rel="stylesheet" />