<nav
      class="navbar navbar-expand-lg primary-header primary-header--transparent-light-alt primary-header--fixed top-lg-12 primary-header-crossed:top-0"
    >
      <div class="container align-items-lg-center">
        <a class="logo" href="index.html">
          <img
            alt="image"
            class="logo__img logo__img--light"
            src="/static/img/logo-light.png"
          />
          <img
            alt="image"
            class="logo__img logo__img--dark"
            src="/static/img/logo-light.png"
          />
        </a>
        <button
          aria-controls="navbar0"
          aria-expanded="false"
          aria-label="Toggle navigation"
          class="navbar-toggler border-0"
          data-bs-target="#navbar0"
          data-bs-toggle="collapse"
          type="button"
        >
          <iconify-icon icon="solar:hamburger-menu-line-duotone"></iconify-icon>
        </button>
        <div class="collapse navbar-collapse" id="navbar0">
          <ul
            class="navbar-nav flex-grow-1 justify-content-center mx-lg-4 mb-2 mb-lg-0"
          >
            <li class="nav-item has-sub-menu navigation-0">
              <a aria-current="page" class="nav-link active" href="#">خانه</a>
              <ul class="navigation-0__menu">
                <li class="navigation-0__menu-list">
                  <a class="link navigation-0__menu-link" href="index.html">
                    <img
                      alt="image"
                      class="navigation-0__menu-img"
                      src="/static/img/shapes/demo-img-3.png"
                    />
                    <span class="navigation-0__menu-title">ژنراتور کد AI</span>
                  </a>
                </li>
                <li class="navigation-0__menu-list">
                  <a class="link navigation-0__menu-link" href="home-2.html">
                    <img
                      alt="image"
                      class="navigation-0__menu-img"
                      src="/static/img/shapes/demo-img-2.png"
                    />
                    <span class="navigation-0__menu-title">پشتیبانی چت AI</span>
                  </a>
                </li>
                <li class="navigation-0__menu-list">
                  <a class="link navigation-0__menu-link" href="home-3.html">
                    <img
                      alt="image"
                      class="navigation-0__menu-img"
                      src="/static/img/shapes/demo-img-1.png"
                    />
                    <span class="navigation-0__menu-title"
                      >هوش مصنوعی کلاسیک</span
                    >
                  </a>
                </li>
                <li class="navigation-0__menu-list">
                  <a class="link navigation-0__menu-link" href="home-4.html">
                    <img
                      alt="image"
                      class="navigation-0__menu-img"
                      src="/static/img/shapes/demo-img-4.png"
                    />
                    <span class="navigation-0__menu-title"
                      >ژنراتور تصویر AI</span
                    >
                  </a>
                </li>
                <li class="navigation-0__menu-list">
                  <a class="link navigation-0__menu-link" href="home-5.html">
                    <img
                      alt="image"
                      class="navigation-0__menu-img"
                      src="/static/img/shapes/demo-img-5.png"
                    />
                    <span class="navigation-0__menu-title"
                      >دستیار توسعه دهنده AI</span
                    >
                  </a>
                </li>
                <li class="navigation-0__menu-list">
                  <a class="link navigation-0__menu-link" href="home-6.html">
                    <img
                      alt="image"
                      class="navigation-0__menu-img"
                      src="/static/img/shapes/demo-img-6.png"
                    />
                    <span class="navigation-0__menu-title"
                      >ژنراتور ویدیویی AI</span
                    >
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item has-sub-menu navigation-1">
              <a aria-current="page" class="nav-link" href="#">صفحات</a>
              <ul class="navigation-1__menu">
                <li class="navigation-1__menu-list">
                  <a class="link navigation-1__menu-link" href="about.html"
                    >درباره ما</a
                  >
                </li>
                <li class="navigation-1__menu-list has-sub-2nd">
                  <a class="link navigation-1__menu-link" href="#">شغلی</a>
                  <ul class="navigation-1__sub-menu">
                    <li class="navigation-1__sub-menu-list">
                      <a
                        class="link navigation-1__sub-menu-link"
                        href="career.html"
                        >فرصت شغلی</a
                      >
                    </li>
                    <li class="navigation-1__sub-menu-list">
                      <a
                        class="link navigation-1__sub-menu-link"
                        href="career-details.html"
                        >جزئیات شغلی</a
                      >
                    </li>
                    <li class="navigation-1__sub-menu-list">
                      <a
                        class="link navigation-1__sub-menu-link"
                        href="career-application.html"
                        >اکنون اقدام کنید</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="navigation-1__menu-list has-sub-2nd">
                  <a class="link navigation-1__menu-link" href="#"
                    >مطالعه موردی</a
                  >
                  <ul class="navigation-1__sub-menu">
                    <li class="navigation-1__sub-menu-list">
                      <a
                        class="link navigation-1__sub-menu-link"
                        href="case-study.html"
                        >مطالعه موردی</a
                      >
                    </li>
                    <li class="navigation-1__sub-menu-list">
                      <a
                        class="link navigation-1__sub-menu-link"
                        href="case-study-details.html"
                        >جزئیات مطالعه موردی</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="navigation-1__menu-list">
                  <a class="link navigation-1__menu-link" href="contact.html"
                    >با ما تماس بگیرید</a
                  >
                </li>
                <li class="navigation-1__menu-list has-sub-2nd">
                  <a class="link navigation-1__menu-link" href="#"
                    >نمونه کارها</a
                  >
                  <ul class="navigation-1__sub-menu">
                    <li class="navigation-1__sub-menu-list">
                      <a
                        class="link navigation-1__sub-menu-link"
                        href="portfolio.html"
                        >نمونه کارها</a
                      >
                    </li>
                    <li class="navigation-1__sub-menu-list">
                      <a
                        class="link navigation-1__sub-menu-link"
                        href="portfolio-details.html"
                        >جزئیات نمونه کارها</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="navigation-1__menu-list">
                  <a class="link navigation-1__menu-link" href="pricing.html"
                    >قیمت گذاری</a
                  >
                </li>
                <li class="navigation-1__menu-list has-sub-2nd">
                  <a class="link navigation-1__menu-link" href="#">خدمت</a>
                  <ul class="navigation-1__sub-menu">
                    <li class="navigation-1__sub-menu-list">
                      <a
                        class="link navigation-1__sub-menu-link"
                        href="service.html"
                        >خدمت</a
                      >
                    </li>
                    <li class="navigation-1__sub-menu-list">
                      <a
                        class="link navigation-1__sub-menu-link"
                        href="service-details.html"
                        >جزئیات خدمات</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="navigation-1__menu-list has-sub-2nd">
                  <a class="link navigation-1__menu-link" href="#"
                    >صفحات دیگر</a
                  >
                  <ul class="navigation-1__sub-menu">
                    <li class="navigation-1__sub-menu-list">
                      <a
                        class="link navigation-1__sub-menu-link"
                        href="event-details.html"
                        >جزئیات رویداد</a
                      >
                    </li>
                    <li class="navigation-1__sub-menu-list">
                      <a
                        class="link navigation-1__sub-menu-link"
                        href="faq.html"
                        >پرسش</a
                      >
                    </li>
                    <li class="navigation-1__sub-menu-list">
                      <a
                        class="link navigation-1__sub-menu-link"
                        href="feature.html"
                        >نشان</a
                      >
                    </li>
                    <li class="navigation-1__sub-menu-list">
                      <a
                        class="link navigation-1__sub-menu-link"
                        href="privacy-policy.html"
                        >سیاست حفظ حریم</a
                      >
                    </li>
                    <li class="navigation-1__sub-menu-list">
                      <a
                        class="link navigation-1__sub-menu-link"
                        href="sign-in-1.html"
                        >ورود به سیستم - من</a
                      >
                    </li>
                    <li class="navigation-1__sub-menu-list">
                      <a
                        class="link navigation-1__sub-menu-link"
                        href="sign-in-2.html"
                        >ورود به سیستم - II</a
                      >
                    </li>
                    <li class="navigation-1__sub-menu-list">
                      <a
                        class="link navigation-1__sub-menu-link"
                        href="sign-up-1.html"
                        >ثبت نام - من</a
                      >
                    </li>
                    <li class="navigation-1__sub-menu-list">
                      <a
                        class="link navigation-1__sub-menu-link"
                        href="sign-up-2.html"
                        >ثبت نام - II</a
                      >
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="nav-item has-sub-menu navigation-1">
              <a aria-current="page" class="nav-link" href="#">وبلاگ</a>
              <ul class="navigation-1__menu">
                <li class="navigation-1__menu-list">
                  <a class="link navigation-1__menu-link" href="blog-2.html"
                    >وبلاگ مدرن</a
                  >
                </li>
                <li class="navigation-1__menu-list">
                  <a class="link navigation-1__menu-link" href="blog-1.html"
                    >وبلاگ با نوار کناری</a
                  >
                </li>
                <li class="navigation-1__menu-list">
                  <a class="link navigation-1__menu-link" href="blog-3.html"
                    >وبلاگ با نوار کناری چپ</a
                  >
                </li>
                <li class="navigation-1__menu-list">
                  <a class="link navigation-1__menu-link" href="blog-4.html"
                    >وبلاگ بدون نوار کناری</a
                  >
                </li>
                <li class="navigation-1__menu-list has-sub-2nd">
                  <a class="link navigation-1__menu-link" href="#">پست وبلاگ</a>
                  <ul class="navigation-1__sub-menu">
                    <li class="navigation-1__sub-menu-list">
                      <a
                        class="link navigation-1__sub-menu-link"
                        href="blog-details-1.html"
                        >ارسال با نوار کناری</a
                      >
                    </li>
                    <li class="navigation-1__sub-menu-list">
                      <a
                        class="link navigation-1__sub-menu-link"
                        href="blog-details-3.html"
                        >ارسال با نوار کناری چپ</a
                      >
                    </li>
                    <li class="navigation-1__sub-menu-list">
                      <a
                        class="link navigation-1__sub-menu-link"
                        href="blog-details-2.html"
                        >ارسال بدون نوار کناری</a
                      >
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li
              class="nav-item has-sub-menu navigation-0 navigation-0--column-6"
            >
              <a aria-current="page" class="nav-link" href="#">بلوک</a>
              <ul class="navigation-0__menu">
                <li class="navigation-0__menu-list">
                  <a
                    class="link navigation-0__menu-link"
                    href="block-page-about.html"
                  >
                    <img
                      alt="image"
                      class="navigation-0__menu-img"
                      src="/static/img/shapes/block-menu-about.png"
                    />
                    <span class="navigation-0__menu-title">در مورد</span>
                  </a>
                </li>
                <li class="navigation-0__menu-list">
                  <a
                    class="link navigation-0__menu-link"
                    href="block-page-blog.html"
                  >
                    <img
                      alt="image"
                      class="navigation-0__menu-img"
                      src="/static/img/shapes/block-menu-blog.png"
                    />
                    <span class="navigation-0__menu-title">وبلاگ</span>
                  </a>
                </li>
                <li class="navigation-0__menu-list">
                  <a
                    class="link navigation-0__menu-link"
                    href="block-page-cta.html"
                  >
                    <img
                      alt="image"
                      class="navigation-0__menu-img"
                      src="/static/img/shapes/block-menu-cta.png"
                    />
                    <span class="navigation-0__menu-title"
                      >فراخوانی به عمل</span
                    >
                  </a>
                </li>
                <li class="navigation-0__menu-list">
                  <a
                    class="link navigation-0__menu-link"
                    href="block-page-testimonial.html"
                  >
                    <img
                      alt="image"
                      class="navigation-0__menu-img"
                      src="/static/img/shapes/block-menu-testimonial.png"
                    />
                    <span class="navigation-0__menu-title">توصیفات</span>
                  </a>
                </li>
                <li class="navigation-0__menu-list">
                  <a
                    class="link navigation-0__menu-link"
                    href="block-page-contact.html"
                  >
                    <img
                      alt="image"
                      class="navigation-0__menu-img"
                      src="/static/img/shapes/block-menu-contact.png"
                    />
                    <span class="navigation-0__menu-title">تماس</span>
                  </a>
                </li>
                <li class="navigation-0__menu-list">
                  <a
                    class="link navigation-0__menu-link"
                    href="block-page-fact.html"
                  >
                    <img
                      alt="image"
                      class="navigation-0__menu-img"
                      src="/static/img/shapes/block-menu-fact.png"
                    />
                    <span class="navigation-0__menu-title">لیست اطلاعات</span>
                  </a>
                </li>
                <li class="navigation-0__menu-list">
                  <a
                    class="link navigation-0__menu-link"
                    href="block-page-faq.html"
                  >
                    <img
                      alt="image"
                      class="navigation-0__menu-img"
                      src="/static/img/shapes/block-menu-faq.png"
                    />
                    <span class="navigation-0__menu-title">پرسش</span>
                  </a>
                </li>
                <li class="navigation-0__menu-list">
                  <a
                    class="link navigation-0__menu-link"
                    href="block-page-feature.html"
                  >
                    <img
                      alt="image"
                      class="navigation-0__menu-img"
                      src="/static/img/shapes/block-menu-features.png"
                    />
                    <span class="navigation-0__menu-title">ویژگی</span>
                  </a>
                </li>
                <li class="navigation-0__menu-list">
                  <a
                    class="link navigation-0__menu-link"
                    href="block-page-hero.html"
                  >
                    <img
                      alt="image"
                      class="navigation-0__menu-img"
                      src="/static/img/shapes/block-menu-hero.png"
                    />
                    <span class="navigation-0__menu-title">قهرمان</span>
                  </a>
                </li>
                <li class="navigation-0__menu-list">
                  <a
                    class="link navigation-0__menu-link"
                    href="block-page-footer.html"
                  >
                    <img
                      alt="image"
                      class="navigation-0__menu-img"
                      src="/static/img/shapes/block-menu-footer.png"
                    />
                    <span class="navigation-0__menu-title">پشته</span>
                  </a>
                </li>
                <li class="navigation-0__menu-list">
                  <a
                    class="link navigation-0__menu-link"
                    href="block-page-portfolio.html"
                  >
                    <img
                      alt="image"
                      class="navigation-0__menu-img"
                      src="/static/img/shapes/block-menu-portfolio.png"
                    />
                    <span class="navigation-0__menu-title">نمونه کارها</span>
                  </a>
                </li>
                <li class="navigation-0__menu-list">
                  <a
                    class="link navigation-0__menu-link"
                    href="block-page-pricing.html"
                  >
                    <img
                      alt="image"
                      class="navigation-0__menu-img"
                      src="/static/img/shapes/block-menu-pricing.png"
                    />
                    <span class="navigation-0__menu-title">قیمت گذاری</span>
                  </a>
                </li>
                <li class="navigation-0__menu-list">
                  <a
                    class="link navigation-0__menu-link"
                    href="block-page-team.html"
                  >
                    <img
                      alt="image"
                      class="navigation-0__menu-img"
                      src="/static/img/shapes/block-menu-team.png"
                    />
                    <span class="navigation-0__menu-title">تیم</span>
                  </a>
                </li>
                <li class="navigation-0__menu-list">
                  <a
                    class="link navigation-0__menu-link"
                    href="block-page-timeline.html"
                  >
                    <img
                      alt="image"
                      class="navigation-0__menu-img"
                      src="/static/img/shapes/block-menu-timeline.png"
                    />
                    <span class="navigation-0__menu-title">جدول زمانی</span>
                  </a>
                </li>
                <li class="navigation-0__menu-list">
                  <a
                    class="link navigation-0__menu-link"
                    href="block-page-ticker.html"
                  >
                    <img
                      alt="image"
                      class="navigation-0__menu-img"
                      src="/static/img/shapes/block-menu-ticker.png"
                    />
                    <span class="navigation-0__menu-title">تیک زدن</span>
                  </a>
                </li>
                <li class="navigation-0__menu-list">
                  <a
                    class="link navigation-0__menu-link"
                    href="block-page-card.html"
                  >
                    <img
                      alt="image"
                      class="navigation-0__menu-img"
                      src="/static/img/shapes/block-menu-card.png"
                    />
                    <span class="navigation-0__menu-title">کارت</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          <div class="d-flex align-items-center gap-3 ms-lg-auto">
            <a
              class="btn btn-sm btn-primary order-lg-2 text-dark fw-semibold rounded-pill"
              href="sign-up-1.html"
              >ثبت نام کردن</a
            >
            <div
              class="dropdown dropdown-modifier dropdown-xsm order-lg-1 theme-settings"
            >
              <button
                aria-expanded="false"
                aria-haspopup="true"
                class="btn dropdown-toggle px-4 px-lg-0 fs-14 border-0 align-items-center gap-1"
                data-bs-toggle="dropdown"
                type="button"
              >
                <iconify-icon
                  icon="bi:sun"
                  id="themeDropdownIcon"
                ></iconify-icon>
              </button>
              <ul
                class="dropdown-menu dropdown-menu-end dropdown-menu-light mw-unset"
              >
                <li>
                  <button
                    class="dropdown-item d-flex align-items-center gap-2 fs-14"
                    id="lightTheme"
                    type="button"
                  >
                    <span class="d-block flex-shrink-0">
                      <iconify-icon icon="bi:sun"></iconify-icon>
                    </span>
                    <span class="d-block flex-grow-1">روشن</span>
                  </button>
                </li>
                <li>
                  <button
                    class="dropdown-item d-flex align-items-center gap-2 fs-14"
                    id="darkTheme"
                    type="button"
                  >
                    <span class="d-block flex-shrink-0">
                      <iconify-icon icon="bi:moon-stars"></iconify-icon>
                    </span>
                    <span class="d-block flex-grow-1">تاریک</span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>