        <!-- Footer -->
        <div class="section-space-lg-top section-space-sm-bottom">
          <div class="section-space-md-bottom">
            <div class="container">
              <div class="row g-4">
                <div class="col-md-6 col-lg-4 col-xxl-3">
                  <a class="logo" href="index.html">
                    <img
                      alt="image"
                      class="logo__img logo__img--light"
                      src="/static/img/logo-light.png"
                    />
                    <img
                      alt="image"
                      class="logo__img logo__img--dark"
                      src="/static/img/logo-light.png"
                    />
                  </a>
                  <p class="mt-4 mb-8 text-light text-opacity-70">
                    راه شماره 1 برای ایجاد و توزیع یک تجارت اینترنتی مدرن ترجیح
                    داده شده است
                  </p>
                  <ul class="list list-row gap-3 flex-wrap align-items-center">
                    <li>
                      <button
                        class="btn btn-icon btn-dark-emphasis rounded-circle"
                        type="button"
                      >
                        <iconify-icon icon="mdi:twitter"></iconify-icon>
                      </button>
                    </li>
                    <li>
                      <button
                        class="btn btn-icon btn-dark-emphasis rounded-circle"
                        type="button"
                      >
                        <iconify-icon
                          icon="ic:baseline-facebook"
                        ></iconify-icon>
                      </button>
                    </li>
                    <li>
                      <button
                        class="btn btn-icon btn-dark-emphasis rounded-circle"
                        type="button"
                      >
                        <iconify-icon
                          icon="akar-icons:linkedin-fill"
                        ></iconify-icon>
                      </button>
                    </li>
                    <li>
                      <button
                        class="btn btn-icon btn-dark-emphasis rounded-circle"
                        type="button"
                      >
                        <iconify-icon icon="hugeicons:instagram"></iconify-icon>
                      </button>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-8 col-xxl-9">
                  <div class="row g-4 justify-content-xl-around">
                    <div class="col-sm-6 col-md-3">
                      <h6 class="fs-18 fw-semibold text-light">محصول</h6>
                      <ul class="list gap-2">
                        <li>
                          <a
                            class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
                            href="index.html"
                            >فناوری AI</a
                          >
                        </li>
                        <li>
                          <a
                            class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
                            href="home-2.html"
                            >پشتیبانی چت AI</a
                          >
                        </li>
                        <li>
                          <a
                            class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
                            href="home-3.html"
                            >ژنراتور کد AI</a
                          >
                        </li>
                        <li>
                          <a
                            class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
                            href="home-4.html"
                            >ژنراتور تصویر AI</a
                          >
                        </li>
                        <li>
                          <a
                            class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
                            href="home-5.html"
                            >AI توسعه دهنده AST.</a
                          >
                        </li>
                        <li>
                          <a
                            class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
                            href="home-6.html"
                            >ژنراتور ویدیویی AI</a
                          >
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-6 col-md-3">
                      <h6 class="fs-18 fw-semibold text-light">شرکت</h6>
                      <ul class="list gap-2">
                        <li>
                          <a
                            class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
                            href="about.html"
                            >درباره ما</a
                          >
                        </li>
                        <li>
                          <a
                            class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
                            href="career.html"
                            >فرصت شغلی</a
                          >
                        </li>
                        <li>
                          <a
                            class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
                            href="case-study.html"
                            >مطالعه موردی</a
                          >
                        </li>
                        <li>
                          <a
                            class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
                            href="contact.html"
                            >با ما تماس بگیرید</a
                          >
                        </li>
                        <li>
                          <a
                            class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
                            href="portfolio.html"
                            >نمونه کارها</a
                          >
                        </li>
                        <li>
                          <a
                            class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
                            href="pricing.html"
                            >قیمت گذاری</a
                          >
                        </li>
                        <li>
                          <a
                            class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
                            href="service.html"
                            >خدمت</a
                          >
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-6 col-md-3">
                      <h6 class="fs-18 fw-semibold text-light">صفحات</h6>
                      <ul class="list gap-2">
                        <li>
                          <a
                            class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
                            href="blog-1.html"
                            >وبلاگ</a
                          >
                        </li>
                        <li>
                          <a
                            class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
                            href="blog-2.html"
                            >وبلاگ مدرن</a
                          >
                        </li>
                        <li>
                          <a
                            class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
                            href="faq.html"
                            >پرسش</a
                          >
                        </li>
                        <li>
                          <a
                            class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
                            href="sign-in-1.html"
                            >ورود به سیستم</a
                          >
                        </li>
                        <li>
                          <a
                            class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
                            href="sign-up-1.html"
                            >ثبت نام کردن</a
                          >
                        </li>
                        <li>
                          <a
                            class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
                            href="event-details.html"
                            >واقعه</a
                          >
                        </li>
                        <li>
                          <a
                            class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
                            href="privacy-policy.html"
                            >سیاست حفظ حریم</a
                          >
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-6 col-md-3">
                      <h6 class="fs-18 fw-semibold text-light">عناصر</h6>
                      <ul class="list gap-2">
                        <li>
                          <a
                            class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
                            href="block-page-about.html"
                            >در مورد</a
                          >
                        </li>
                        <li>
                          <a
                            class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
                            href="block-page-blog.html"
                            >وبلاگ</a
                          >
                        </li>
                        <li>
                          <a
                            class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
                            href="block-page-cta.html"
                            >فراخوانی به عمل</a
                          >
                        </li>
                        <li>
                          <a
                            class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
                            href="block-page-testimonial.html"
                            >شهادت</a
                          >
                        </li>
                        <li>
                          <a
                            class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
                            href="block-page-fact.html"
                            >لیست اطلاعات</a
                          >
                        </li>
                        <li>
                          <a
                            class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
                            href="block-page-feature.html"
                            >نشان</a
                          >
                        </li>
                        <li>
                          <a
                            class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14"
                            href="block-page-hero.html"
                            >قهرمان</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center overflow-hidden">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <p class="mb-0 text-wing text-light text-opacity-70">
                    © 2025 Nextai. همه حق محفوظ است
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Footer End -->