<nav
      class="navbar navbar-expand-lg primary-header primary-header--transparent-light-alt primary-header--fixed top-lg-12 primary-header-crossed:top-0"
    >
      <div class="container align-items-lg-center">
        <a class="logo" href="index.html">
          <img
            alt="image"
            class="logo__img logo__img--light"
            src="/static/img/logo-light.png"
          />
          <img
            alt="image"
            class="logo__img logo__img--dark"
            src="/static/img/logo-light.png"
          />
        </a>
        <button
          aria-controls="navbar0"
          aria-expanded="false"
          aria-label="Toggle navigation"
          class="navbar-toggler border-0"
          data-bs-target="#navbar0"
          data-bs-toggle="collapse"
          type="button"
        >
          <iconify-icon icon="solar:hamburger-menu-line-duotone"></iconify-icon>
        </button>
        <div class="collapse navbar-collapse" id="navbar0">
          <ul
            class="navbar-nav flex-grow-1 justify-content-center mx-lg-4 mb-2 mb-lg-0"
          >

            <li class="nav-item">
              <a aria-current="page" class="nav-link " href="{% url 'portfolio_list' %}">نمونه کار ها</a>

            </li>

          </ul>
          <div class="d-flex align-items-center gap-3 ms-lg-auto">
            <a
              class="btn btn-sm btn-primary order-lg-2 text-dark fw-semibold rounded-pill"
              href="{% url 'contact' %}"
              >تماس با ما</a
            >
            <div
              class="dropdown dropdown-modifier dropdown-xsm order-lg-1 theme-settings"
            >

            </div>
          </div>
        </div>
      </div>
    </nav>