        <!-- Footer -->
        <div class="section-space-lg-top section-space-sm-bottom">
          <div class="section-space-md-bottom">
            <div class="container">
              <div class="row g-5">
                <div class="col-md-6 col-lg-4 col-xxl-4">
                  <a class="logo" href="index.html">
                    <img
                      alt="image"
                      class="logo__img logo__img--light"
                      src="/static/img/logo-light.png"
                    />
                    <img
                      alt="image"
                      class="logo__img logo__img--dark"
                      src="/static/img/logo-light.png"
                    />
                  </a>


                </div>
                <div class="col-lg-4 col-xxl-4">
                  <div class="row g-4 justify-content-xl-around">
                    <div class="col-sm-12 col-md-12 mt-12 ">
                      <h2 class="fs-28  text-light">آدرس و نشانی <span class="text-clip text-clip--primary">تکنوسایت</span>  </h2>
                      <ul class="list gap-2">
                        <li>
                          <a class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14">استان یزد, اردکان, خیابان صدرآباد, میدان انار, خروجی سوم, بلوار حلال اهمر, کوچه۲۹ </a>
                        </li>

                      </ul>

                    </div>

                  </div>
                </div>
                <div class="col-lg-4 col-xxl-4">
                  <div class="row g-4 justify-content-xl-around">
                    <div class="col-sm-12 col-md-12 mt-12 ">
                      <h2 class="fs-28  text-light">ارتباط تلفنی با تیم <span class="text-clip text-clip--primary">تکنوسایت</span> </h2>
                      <ul class="list gap-2">

                        <li>
                          <a class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14">۰۳۵-۳۲۲۴۹۷۷۴</a>

                        </li>
                        <li>
                          <a class="link d-inline-block text-light text-opacity-70 hover:text-opacity-100 fw-medium fs-14">۰۹۹۰۳۳۰۹۷۷۴</a>

                        </li>
                      </ul>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="text-center overflow-hidden">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <p class="mb-0 text-wing text-light text-opacity-70">
                     تمامی حقوق برای تکتوسایت محفوظ است.  TechnooSite ©
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Footer End -->